h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'oswald';
}

p,
li {
    font-family: sans-serif;
}

header {
    background: #16a7a2;
}

.logo img {
    width: 30%;
    padding-top: 15px;
}

.logo {
    float: left;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}

#navigation {
    float: right;
    margin-top: 18px;
}

#navigation a {
    font-family: 'oswald';
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
}

#navigation a:hover {
    color: #d4c2a9;
}

.wrap {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

#section-one {
    text-align: center;
}

#section-one img {
    width: 800px;
    padding: 30px 0;
}

#section-one nav a {
    font-family: 'oswald';
    text-decoration: none;
    color: #116a5b;
    padding: 20px;
    font-size: 24px;
}

#section-one nav a:hover {
    color: #d4c2a9;
}

#section-one h1 {
    font-size: 50px;
}

#section-two {
    background: url('../images/ComputerBackground.jpg') no-repeat;
    padding: 50px;
}

#section-two .wrap {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1%;
    color: #ccc;
    padding: 20px 40px;
    width: 720px;
}

#section-two .wrap a {
    color: white;
    text-decoration: none;
}

#section-three {
    padding: 30px;
}

#section-three .wrap {
    overflow: auto;
}

#section-three .wrap #img {
    width: 48%;
    float: left;
    padding-right: 4%;
}

#section-three .wrap #img img {
    width: 100%;
}

#section-three .wrap #text {
    width: 48%;
    float: left;
}

#section-three h2 {
    margin-top: 0;
}

footer {
    background: black;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.logo.footer {
    float: none;
    width: 200px;
}

#about-section-two {
    background: url('../images/ComputerBackground.jpg') no-repeat;
    padding: 30px;
}

#about-section-two .wrap {
    overflow: hidden;
}

#about-section-two .wrap #img {
    width: 48%;
    float: left;
    padding-right: 4%;
}

#about-section-two .wrap #img img {
    width: 90%;
}

#about-section-two .wrap #text {
    width: 48%;
    float: left;
}

#about-section-two h2 {
    margin-top: 0;
}

#about-navigation {
    float: right;
    margin-top: 18px;
}

#header-about {
    background-color: black;
}