 h1 {
     font-size: 40px;
     color: purple;
     font-family: 'Source Code Pro', monospace;
     border-bottom: 5px solid #d4ae4f;
 }
 
 h2 {
     font-family: 'Source Code Pro', monospace;
     color: #d4ae4f;
 }
 
 h3 {
     font-family: 'Source Code Pro', monospace;
 }
 
 p {
     font-family: 'Fira Code', monospace;
 }
 
 li {
     font-family: 'Fira Code', monospace;
 }
 
 a {
     font-family: 'Fira Code', monospace;
 }