    logo {}
    
    h1 {
        font-size: 40px;
        font-family: 'Source Code Pro', monospace;
        border-bottom: 5px solid #d4ae4f;
    }
    
    h2 {
        font-family: 'Source Code Pro', monospace;
    }
    
    h3 {
        font-family: 'Source Code Pro', monospace;
    }
    
    p {
        font-family: 'Fira Code', monospace;
    }
    
    li {
        font-family: 'Fira Code', monospace;
    }
    
    a {
        font-family: 'Fira Code', monospace;
    }
    
    .heading-two-gold {
        color: #d4ae4f;
    }
    
    .heading-three-darkgold {
        color: #4b3808;
    }
    
    #heading-one-purple {
        color: purple;
    }