header {
    background: black;
}

body {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.nav-button-bg {
    background-color: rgb(255, 255, 255);
}

.logo {}

h1 {
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    border-bottom: 5px solid #d4ae4f;
}

h2 {
    font-family: 'Source Code Pro', monospace;
}

h3 {
    font-family: 'Source Code Pro', monospace;
}

p {
    font-family: 'Fira Code', monospace;
}

li {
    font-family: 'Fira Code', monospace;
}

a {
    font-family: 'Fira Code', monospace;
}

.heading-two-gold {
    color: #d4ae4f;
}

.heading-three-darkgold {
    color: rgb(80, 8, 89);
}

.heading-one-purple {
    color: rgb(80, 8, 89);
}